<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>GendActu</title>
  <link rel="icon" href="images/gendy.jpg" />
  {{ style('css/style') }}
</head>
<body>
  <section>
    <div class="accueil">
        <h3 id="welcome">Bienvenue sur GendActu</h3>
    </div>
  </section>
</body>
</html>
