<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="csrf_token" content="{{ csrfToken }}">
  <link rel="icon" href="/images/gendy.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      @!section('title')
  </title>
  {{ style('css/style') }}
  {{ style('css/font-awesome') }}
  {{ style('css/bootstrap/bootstrap.min') }}
  {{ script('js/bootstrap/bootstrap.min') }}
  @!section('extrascript')
  @!section('extracss')
</head>
<body>
    <header id="header">
        @!section('header')
    </header>

    @!section('content')

    <footer id="footer">
        @!section('footer')
    </footer>

</body>
</html>